<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Franklin</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>${APP_ICON_NAME}@2x.png</string>
		<string>${APP_ICON_NAME}@2x.png</string>
		<string>${APP_ICON_NAME}.png</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.4</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>inc.matter.Franklin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>plasma</string>
				<string>ethereum</string>
				<string>franklin</string>
				<string>buffishop</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>36</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>ebf2c1b81f019e28e2abc5698b36d86173346ad1</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Camera is needed for QR code scanning</string>
	<key>UIAppFonts</key>
	<array>
		<string>librefranklin-semibold.ttf</string>
		<string>librefranklin-bold.ttf</string>
		<string>librefranklin-light.ttf</string>
		<string>librefranklin-medium.ttf</string>
		<string>librefranklin-regular.ttf</string>
		<string>SF-Pro-Display-Light.otf</string>
		<string>SF-Pro-Display-Medium.otf</string>
		<string>SF-Pro-Display-Regular.otf</string>
		<string>SF-Pro-Display-Semibold.otf</string>
		<string>SF-Pro-Display-Heavy.otf</string>
		<string>SF-Pro-Display-Bold.otf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
